.right-main-container .pored-cips1 {
  position: absolute;
  width: 15vh;
  left: -55px;
  rotate: 60deg;
}

.right-main-container .pored-cips2 {
  position: absolute;
  width: 15vh;
  bottom: 0;
  right: -55px;
  rotate: 10deg;
}

.right-main-container .pored-cips3 {
  position: absolute;
  left: -85px;
  width: 15vh;
  bottom: 50%;
} 

.right-main-container .pored-cips4 {
  position: absolute;
  width: 15vh;
  top: 0;
  left: 90%;
}

.right-main-container .pored-cips5 {
  position: absolute;
  width: 15vh;
  bottom: 0;
  left: 0;
} 

.left-main-container .pored-cips6 {
  position: absolute;
  width: 15vh;
  z-index: -2;
  right: -250px;
  rotate: 10deg;
}

.pored-cips7,
.pored-cips8,
.pored-cips9{
  width: 300px;
  padding: 40px;
  z-index: 5;
}

.right-main-container .velikičips {
  rotate: 10deg;
  width: 500px;
}

.pored-cips10 {
  position: absolute;
  width: 15vh;
  rotate: 15deg;
  top: 20%;
  left: 0;
}

.pored-cips11 {
  position: absolute;
  width: 15vh;
  rotate: 30deg;
  right: 0;
  top: 50%;
}

.about-chips-slika 
.about-chips-left-slika
.chips-zdjela {
  width: 400px;
  filter: drop-shadow(0 -5mm 8mm rgb(238, 129, 26));
}
