@media screen and (max-width: 1143px) {
  .main-container .left-main-container h5 {
    font-size: 90px;
  }
  .main-container .right-main-container .velikičips {
    width: 380px;
  }

  .right-main-container{
    z-index: 1;
  }

  .right-main-container .krug {
    width: 400px;
    height: 400px;
    left: -10px;
  }

  .right-main-container .pored-cips1,
  .right-main-container .pored-cips2,
  .right-main-container .pored-cips3,
  .right-main-container .pored-cips4,
  .right-main-container .pored-cips5 {
    width: 12vh;
  }
}


@media screen and (max-width:1083px ) {
  .left-main-container .pored-cips6 {
   position: absolute;
   top: -25px;
   left: 0;
   z-index: -5; 
  }

  .right-main-container .velikičips {
    width: 300px;
  }

  .main-container .left-main-container h5 {
    font-size: 80px;
  }
  .social-media {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .list,
  .social-media {
    display: none;
  }
  .main-container-chips-products h5,
  .about-chips-container h5{
    font-size: 35px;
  }

  .navbar-menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
  }
  .logo a {
    position: absolute;
    left: 25px;
    top: 15px;
  }

  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-main-container {
    margin-top: 30px;
  }
  
  .right-main-container .velikičips {
    width: 300px;
  }
  .right-main-container .pored-cips1,
  .right-main-container .pored-cips2,
  .right-main-container .pored-cips3,
  .right-main-container .pored-cips4,
  .right-main-container .pored-cips5{
    width: 10vh;
  }
  .about-chips-slika {
    flex-direction: column;
  }

  .about-chips-container
  .about-chips-slika
  .about-chips-right-slika
  .item-text p {
    font-size: 17px;
  }
  .main-container .left-main-container p{
    font-size: 17px;
  }
  .shop-card {
    margin-top: 20px;
  }
}
