@media screen and (max-width: 1143px) {
  .main-container .left-main-container h5 {
    font-size: 90px;
  }
  .main-container .right-main-container .velikičips {
    width: 380px;
  }

  .right-main-container{
    z-index: 1;
  }

  .right-main-container .krug {
    width: 400px;
    height: 400px;
    left: -10px;
  }

  .right-main-container .pored-cips1,
  .right-main-container .pored-cips2,
  .right-main-container .pored-cips3,
  .right-main-container .pored-cips4,
  .right-main-container .pored-cips5 {
    width: 12vh;
  }
}


@media screen and (max-width:1083px ) {
  .contact-container .contact-main {
    padding-left: 55px;
  }

  .contact-container .contact-main .right-contact-main .čiko {
    width: 30vh;
  }

  .left-main-container .pored-cips6 {
   position: absolute;
   top: -25px;
   left: 0;
   z-index: -5; 
  }

  .right-main-container .velikičips {
    width: 300px;
  }

  .main-container .left-main-container h5 {
    font-size: 80px;
  }
  .social-media {
    display: none;
  }
  .pored-cips14 {
    top: 15%;
    left: 55px;
  }
  .pored-cips15 {
    left: 50%;
  }
}

@media screen and (max-width: 860px) {
  .contact-container .contact-main {
    padding-left: 0px;
  }

  .contact-container .contact-main .right-contact-main .čiko {
    width: 25vh;
  }
  
  .contact-main {
    flex-direction: column;
  }  
  .contact-container .contact-main .left-contact-main .top {
    flex-direction: column;
    gap: 10px;
  }
  
  .navbar-list {
    display: none;
  }

  .navbar-menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .active {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: -55px;
    padding: 25px;
    left: 0;
    background-color: rgb(8, 135, 121);
    animation: izlaz 0.3s ease;
  }

  @keyframes izlaz {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: rotateY(50deg);
    }   
  }



  .main-container-chips-products h5,
  .about-chips-container h5{
    font-size: 35px;
  }

  .logo a {
    position: absolute;
    left: 25px;
    top: 15px;
  }

  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-main-container {
    margin-top: 30px;
  }
  
  .right-main-container .velikičips {
    width: 300px;
  }
  .right-main-container .pored-cips1,
  .right-main-container .pored-cips2,
  .right-main-container .pored-cips3,
  .right-main-container .pored-cips4,
  .right-main-container .pored-cips5{
    width: 10vh;
  }
  .about-chips-slika {
    flex-direction: column;
  }

  .about-chips-container
  .about-chips-slika
  .about-chips-right-slika
  .item-text p {
    font-size: 17px;
  }
  .main-container .left-main-container p{
    font-size: 17px;
  }
  .shop-card {
    margin-top: 20px;
  }

  .pored-cips14 {
    top: 25%;
    left: 60%;
  }
  .pored-cips15 {
    left: 10px;
  }
  .main-container .right-main-container .velikičips {
    width: 300px;
  }
}
