*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(8, 185, 141);
}

.header {
  background-color: rgb(8, 185, 141);
  padding-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}

.header.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.header,
.chips-products,
.home {
  padding-left: 130px;
  padding-right: 130px;
}

.logo a{
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: cen;
}

.nav {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
}

.social-media a{
  text-decoration:  none;
  padding: 5px;
}

.social-media i {
  font-size: 23px;
  color: #fff;
}

.navbar-menu {
  display: none;
}

.navbar-menu a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.home {
  margin-top: 100px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: moveUp 0.8s;
}

.left-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: relative;
}


.main-container .left-main-container h5 {
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 0;
}

.main-container .left-main-container p {
  color: white;
  font-weight: 330;
  font-size: 20px;
}


.right-main-container {
  position: relative;
  z-index: 1;
}

.right-main-container .krug {
  position: absolute;
  background-color: rgb(8, 135, 121);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgb(238, 199, 0.1);
  left: -30px;
  top: 50px;
}

.main-container .left-main-container .buttons .snack-now {
  background-color: rgb(238, 199, 26);
  color: #000;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}

.main-container .left-main-container .buttons .snack-now:hover,
.main-container .left-main-container .buttons .buy-now:hover {
  opacity: 0.8;
  border: 1px solid rgb(238, 159, 6);
}

.main-container .left-main-container .buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.main-container .left-main-container .buttons .buy-now {
  background: transparent;
  border: 1px solid rgb(238, 199, 26);
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: bold;
  color: rgb(238, 199, 26);
  transition: all 0.3s ease-in;
}

.main-container-chips-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-chips-products h5 {
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
  font-weight: 800;
}

.main-container-chips-products p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  z-index: 2;
  font-weight: 330;
}

.main-container-chips-products {
  position: relative;
}

.main-container-chips-products
.chips-products-slikelista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-chips {
  background: rgb(8, 175, 150);
  box-shadow: 0px 0px 5px rgb(0, 0, 0.9);
}

.about-chips-slika {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about-chips-right-slika {
  display: flex;
  flex-direction: column;
}

.about-chips-right-slika .item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.about-chips-container h5{
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.about-chips-container
.about-chips-slika
.about-chips-right-slika
.item-text i {
  color: rgb(238, 199, 26);
  font-size: 30px;
}

.about-chips-container
.about-chips-slika
.about-chips-right-slika
.item-text p {
  color: #fff;
  font-weight: 330;
  font-size: 20px;
}

.nature-track {
  background-color: rgb(238, 199, 26);
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90px;
}

.nature-track .left-nature-track,
.nature-track .right-nature-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nature-track .left-nature-track i,
.nature-track .right-nature-track i {
  font-size: 50px;
  color: rgb(129, 107, 6);
}

.nature-track .left-nature-track h5,
.nature-track .right-nature-track h5 {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(129, 107, 6);
  font-weight: 800;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10);
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
    transform: translateY(-30px);
  }
}

.shop {
  margin-top: 150px;
}

.shop-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.shop-card {
  background-color: rgb(8, 135, 121);
  width: 280px;
  height: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.shop-card .shop-chips-slika {
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 18vh;
}

.bottom-shop-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.bottom-shop-card {
  padding: 20px;
}

.bottom-shop-card .right-bot-shop-card i{
  background-color:rgb(238, 199, 0.1);
  padding: 10px;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.bottom-shop-card .right-bot-shop-card i:hover {
  opacity: 0.8;
  padding: 15px;
}

.left-bot-shop-card h5,
.left-bot-shop-card p {
  margin-bottom: 0;
  margin-top: 0;
  color: #fff;
  padding: 5px;
  line-height: 15px;
}

.left-bot-shop-card h5 {
  font-size: 20px;
  font-weight: 400;
}

.left-bot-shop-card p {
  font-weight: bold;
  font-size: 23px;
}
